.savebtn {
  background-color: #0086dc;
  color: white;
  border: 2px solid #0086dc;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 11px;
  padding-left: 25px;
  padding-right: 25px;
}

.mat-raised-button {
  line-height: 0px;
  min-width: 65px;
}

mat-dialog-container {
  padding: 0px;
}
