button.mat-flat-button {
  line-height: 35px;
  padding: 0 8px;
}

#iconMenu {
  font-size: 14px;
  padding-top: 3.67px;
  color: black;
  margin-right:0px !important;
  width:15px !important;
}

#menuhover{
  padding: 0 10px !important;
}

#iconMenu :hover {
  color: white !important;
}