// --------------------- Screen Based CSS Start ------------------- //

.new {
    width: 500px;
}

.list {
    width: 757px;
}
#right {
    margin-top: 28px;
}

.mat-icon-button .mat-icon,
.mat-icon-button i {
    line-height: 20px;
}

#iRed {
    height: 18px;
    width: 18px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

#iGreen {
    height: 18px;
    width: 18px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.material-icons {
    font-size: 16px;
    line-height: 1.3;
}

#iconBottom {
    margin-bottom: -3px;
}

.table-scroll {
    height: 191px;
}

.button.b2 {
    border-radius: 2px;
  }

  /* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 3.7px;
  width: 40px;
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 5px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  left: 4px;
  background-color: #03a9f4;
}

#button-10 .knobs:after {
  content: "NO";
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 54px;
  background-color: #f44336;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }

  #status {
    margin-top: -6px !important;
}

.table-container {
    display: flex;
    flex-direction: column;
    max-height: 291px;
    min-width: 300px;
    background: white;
    height: 291px;
    overflow-y: scroll;
}

// --------------------- Screen Based CSS End ------------------- //

// --------------------- Table Css Start ------------------- //

.mat-table-fixed mat-header-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(2) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(3) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-header-cell:nth-child(4) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 0px;
}

.mat-table-fixed mat-header-cell:nth-child(5) {
    min-width: 124px;
    width: 124px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid white;
}

.mat-table-fixed mat-cell:nth-child(1) {
    min-width: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-table-fixed mat-cell:nth-child(2) {
    min-width: 140px;
    width: 140px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(3) {
    min-width: 250px;
    width: 250px;
    display: flex;
    justify-content: left;
    text-align: left;
}

.mat-table-fixed mat-cell:nth-child(4) {
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-left: 5px;
    border-right: 0px;
}

.mat-table-fixed mat-cell:nth-child(5) {
    min-width: 124px;
    width: 124px;
    display: flex;
    justify-content: center;
    text-align: center;
}

// --------------------- Table Css End ------------------- //

// --------------------- Responsive Css Start ------------------- //

@media only screen and (min-device-width: 1360px) and (max-device-width: 1366px) {

    .card-body {
        padding: 10px;
    }

    #cardTop {
        margin-top: 10px;
    }

    .list {
        width: 757px;
    }

    .new {
        width: 500px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

// --------------------- Responsive Css End ------------------- //


